useDynLib(mmit)
exportPattern("^[[:alpha:]]")
import(partykit)
import(assertthat)
importFrom("stats", "model.frame", "model.response", "na.omit", "terms", "predict")
importFrom("utils", "tail")
S3method(predict, mmit)
S3method(predict, mmif)
S3method(predict, mmif.cv)
S3method(predict, mmit.cv)