useDynLib(mmit)
exportPattern("^[[:alpha:]]")
import(partykit)
import(survival)
import(assertthat)
import(doParallel)
import(parallel)
importFrom("stats", "model.frame", "model.response", "na.omit", "terms")
importFrom("utils", "tail")
