useDynLib(mmit)
exportPattern("^[[:alpha:]]")
import(partykit)
import(penaltyLearning)
import(assertthat)
import(parallel)
import(future.apply)
importFrom("stats", "model.frame", "model.response", "na.omit", "terms")
importFrom("utils", "tail")
